.footer {
    color: var(--clr-light);
    font-family: "JetBrains Mono", sans-serif;
    user-select: none;
}

.footer__content {
    display: flex;
    flex-direction: column;
}


.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__middle {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
}

.footer__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}









.footer__img {
    display: flex;
    justify-content: center;
    display: none;
}


.footer__title {
    font-size: var(--size-3xl);
    font-weight: 400;
    letter-spacing: 0.2rem;
    color: var(--clr-light);
}

.footer__list {
    margin-bottom: 0.1rem;
    padding-left: 20px;
    color: var(--clr-light);
}

.footer__list__item {
    color: var(--clr-light);
    font-size: var(--size-xs);
    font-weight: 100;
    margin-bottom: 0.5rem;
    text-decoration: underline 0.5px;
}


.footer__rights {
    font-size: 8px;
    font-weight: 100;
}

.footer__back1 {
    display: flex;
    gap: 5px;
    align-items: center;
    align-self: center;
    font-size: var(--size-lg);
    margin-right: 0.5rem;
    text-decoration: none;
    color: var(--clr-light);
    font-weight: 400;
    transition: 0.3s;
}

.footer__back1 svg{
    color: currentColor; width: 40px;
}

.footer__back2 {
    display: none;
    gap: 5px;
    align-items: center;
    font-size: var(--size-xs);
    color: var(--clr-light);
}

.email {
    font-size: 10px;
    color: var(--clr-light);
    font-weight: 100;
    text-decoration: none;
    user-select: text;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    text-align: center;
    font-size: var(--size-base);
    font-weight: 500;
}

.footer__back1:hover,
.footer__back2:hover {
    transform: translateY(-3px);
    transition: 0.3s;
}

.email:hover {
    text-decoration: underline;
}



.line-with-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5rem;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: var(--clr-darkgrey);
    border-radius: 50%;
}

.line {
    height: 3px;
    background-color: var(--clr-darkgrey);
    width: 100%;
}

.btn-request2 {
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: var(--size-xs);
    text-shadow: 1.5px 1px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--clr-blue);
    padding: 8px 6px;
    border-radius: 9px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(110, 110, 110, 0.2);
    transition: transform 0.3s, font-size 0.3s, box-shadow 0.3s;
    text-decoration: none;
    color: var(--clr-light);
}

.btn-request2:hover {
    transform: translateY(-2px);
    font-weight: 550;
    font-size: calc(0.1px + var(--size-xs));
    transition: transform 0.3s, font-size 0.3s, box-shadow 0.3s;
}

.footer__bring {
    font-size: var(--size-s);
    margin-bottom: 0.5rem;
}


@media (min-width: 475px) {}

@media (min-width: 640px) {
    .footer__title {
        font-size: var(--size-4xl);
    }

    .footer__contact {
        font-size: var(--size-lg);
    }

    .email {
        font-size: var(--size-xs);
    }

    .footer__back1 {
        font-size: var(--size-base);
    }

    .footer__rights {
        font-size: var(--size-xs);
    }

    .footer__list__item {
        font-size: var(--size-base);
    }

    .footer__bring {
        font-size: var(--size-lg);
        margin-bottom: 0.5rem;
    }

    .btn-request2 {
        font-size: var(--size-s);
        margin-top: 0.5rem;
    }

    .btn-request2:hover {
        font-size: calc(0.1px + var(--size-s));
    }
}

@media (min-width: 768px) {
    .footer__middle {
        margin: 0rem;
    }
}

@media (min-width: 1024px) {
    .footer__title {
        font-size: var(--size-6xl);
    }

    .footer__contact {
        font-size: var(--size-xl);
    }

    .email {
        font-size: var(--size-s);
    }

    .footer__rights {
        font-size: var(--size-s);
    }

    .footer__list__item {
        margin-left: 1rem;
        font-size: var(--size-base);
    }

    .footer__bring {
        font-size: var(--size-2xl);
    }

    .btn-request2 {
        font-size: var(--size-base);
        padding: 12px 15px;
        margin-top: 0.5rem;
    }

    .btn-request2:hover {
        font-size: calc(0.1px + var(--size-base));
    }

    .footer__content {
        display: flex;
        flex-direction: column;
        grid-area: 2 / 1 / -1 / -1;
        justify-content: center;
    }

    .footer__top {
        display: flex;
        justify-content: space-between;

    }

    .footer__middle {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 2rem;
    }

    .footer__bottom {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .footer__img {
        display: flex;
        justify-self: flex-end;
        width: 30%;
        grid-area: 2 / 1 / -1 / -1;
        z-index: -1;
    }

    .footer__back1 {
        display: none;
    }

    .footer__back2 {
        display: flex;
        gap: 5px;
        font-size: var(--size-lg);
        margin-right: 0.5rem;
        text-decoration: none;
        color: white;
        font-weight: 400;
        transition: 0.3s;
        margin-right: 2rem;
    }

    .line-with-circle {
        grid-area: 1 / 1 / 1 / -1;
    }

    .footer {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    .footer__middle {
        margin-bottom: -2rem;
        margin-top: 1rem;
    }
}

@media (min-width: 1280px) {
    .footer__title {
        font-size: var(--size-7xl);
    }

    .footer__contact {
        font-size: var(--size-2xl);
    }

    .email {
        font-size: var(--size-lg);
        margin-top: 0.5rem;
    }

    .footer__rights {
        font-size: var(--size-s);
    }

    .footer__list__item {
        font-size: var(--size-xl);
    }

    .footer__middle {
        margin: 0rem;
    }

}

@media (min-width: 1536px) {
    .footer__title {
        font-size: var(--size-8xl);
    }

    .footer__contact {
        font-size: var(--size-2xl);
    }

    .email {
        font-size: var(--size-base);
        margin-top: 0.5rem;
    }

    .footer__rights {
        font-size: var(--size-base);
    }

    .footer__list__item {
        font-size: var(--size-lg);
    }

    .footer__bring {
        font-size: var(--size-2xl);
    }

    .btn-request2 {
        font-size: var(--size-base);
        margin-top: 0.5rem;
    }

    .btn-request2:hover {
        font-size: calc(0.1px + var(--size-base));
    }

    .footer__back2 {
        font-size: var(--size-xl);
    }

    .footer__img {
        width: 30%;
    }

    .footer__middle {
        margin: 2rem;
    }

}